/* styles.css */
.console-container {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    text-align: center;
    margin-top: 20%;
  }
  
  #text {
    transition: color 0.9s ease;
  }
  
  .console-underscore {
    display: inline-block;
    position: relative;
    animation: blink 0.9s infinite;
  }
  
  .console-underscore.hidden {
    display: none;
  }
  
  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  