.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    padding-top: 150px;
    padding-bottom: 20px;

}

.innerConainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    max-height: 100%;
    padding: 20px 15px;
    gap: 100px;

}


/* ------------------------------------------------------------------------------------------------- */

.MainPageDiv {
    display: flex;
    width: 100%;
    /* height: 800px; */
    padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 50px 0;
}

.Heading {
    display: flex;
    width: 60%;
    gap: 20px;
    flex-direction: column;
    /* padding: 15px 20px; */
    font-family: "Source Sans 3", sans-serif;
}

.Heading>p {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 7px;
    font-weight: 400;
    color: var(--og);
    font-family: "Source Sans 3", sans-serif;

}

.Heading>h1 {
    font-size: 100px;
    color: var(--col);
    line-height: 120px;
    font-family: "Source Sans 3", sans-serif;

}

.Heading>h3 {
    font-size: 24px;
    line-height: 2;
    color: var(--col);
    font-family: "Source Sans 3", sans-serif;

}

.Heading>h3 span {
    font-size: 35px;
    color: var(--og);
    font-family: "Source Sans 3", sans-serif;

}

.Heading>button {
    max-width: 170px;
    margin: 20px 0;
    height: 50px;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    background-color: var(--og);
    color: var(--col);
    font-family: "Source Sans 3", sans-serif;
    text-transform: uppercase;
}

.Heading>button:hover {
    box-shadow: 0 0 10px var(--og);
    text-shadow: 0 0 5px var(--og);
}



.Profile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    object-fit: cover;
    position: relative;

}

 .Profile img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    transition: opacity 0.6s ease-in-out;
    position: absolute; 
    cursor: pointer;

}

.Profile .FirstImg {
    /* display: block; */
    opacity: 1;
    filter: drop-shadow(0 0 5px var(--col));
}

.Profile .SecondImg {
    /* display: none; */
    opacity: 0;

}


.Profile:hover .FirstImg {
    /* display: none; */
    opacity: 0;
}

.Profile:hover .SecondImg {
    /* display: block; */
    opacity: 1;
    border-radius: 10px;
}




/* ------------------------------------------------------------------------------------------------- */

.aboutDiv {
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutDiv .boxes {
    width: 280px;
    height: 300px;
    padding: 10px 15px;
    border-radius: 30px;
    transform: scale(.9);
    color: var(--col);
    border: 1px solid rgb(58, 58, 58);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-between;

}

.boxes:nth-child(odd) {
    transform: translateY(-20px);
}

.boxes:nth-child(even) {
    transform: translateY(20px);
}

.boxes:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 55px var(--og);
}

.boxes:hover {
    color: var(--col);
    box-shadow: 0 0 20px var(--og);
    text-shadow: 0 0 5px var(--og);
    border: 1px solid var(--og);
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
    will-change: transform;
    transition: all 300ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
}

/* ------------------------------------------------------------ */

.aboutContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
}
.information{
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}
.information .picture {
    width: 50%;
    object-fit: cover;
}
.information .picture img {
    width: 100%;
    border-radius: 8px;
}
.information .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    color: var(--col);
    font-family: "Source Sans 3", sans-serif;
}
.information .info h4 span{
   color: var(--og);
}

/* ------------------------- */

.scrollDiv{
    width: 100%;
    display: flex;
    height: 50vh;
    align-items: center;
    overflow: hidden;
    margin: 50px 0;


}
.scroll{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    gap: 70px;
}
.scroll div{
   display: flex;
   /* gap: 2em; */
}
.scroll p{
   font-size: 5em;
   color: var(--col);
   font-weight: 600;
   margin-bottom: 0;
   line-height: 10px;
   text-transform: uppercase;

}
.RightToLeft{
    animation: RightToLeft 10s linear infinite;
}
.RightToLeft p{
    -webkit-text-stroke: 1px var(--col);
    color: transparent;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 7px;
}

@keyframes RightToLeft{
   from{
    transform: translateX(0%);
   }
   to {
    transform: translateX(-50%);
   }
}
.LeftToRight{
    animation: LeftToRight 10s linear infinite;
    color: var(--og);
}
.LeftToRight p{
    -webkit-text-stroke: 1px var(--og);
    color: transparent;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 7px;

    

}
@keyframes LeftToRight{
    from{
     transform: translateX(-50%);
    }
    to {
     transform: translateX(0%);
    }
 }